@charset "UTF";

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background-color: rgb(255, 255, 255);
    background-image: url(images/wallpaper002.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
}

main {
    background-color: white;
    width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgb(255, 0, 0);
}